.flexbox (@justify:center,@align:center){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}
.linkStyle(){
    text-decoration: none;
    color:black;
    a:visited{
        color:black;
    }
    a:link{
        color:black;
    }
}
.contact-us(@color, @size){
    background-color: @color;
        padding: 0.5% 2%;
        font-size: @size;
        margin: 1% 0 10% 0;
}